<app-nav></app-nav>
<div class="container">
  <p>Hello Adventurer, welcome to the town of Angular!</p>
  <p>Here you can explore all the exciting stuff like meeting weird monster, learning new spell, and discovering rare item.</p>
  <p>But first, you need some weapon/spell to accompany you along the way!</p>
  <p style="margin-bottom: 50px;">I will give you 1000 gold, so choose your weapon/spell wisely~</p>

<div class="row">
  <div class="col">
    <app-shoppingcart></app-shoppingcart>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-footer></app-footer>
  </div>
</div>

</div>